

/*		Fonts		*/
@font-face {
    font-family: 'open_regular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_bold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_semibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*		General CSS		*/
body, html {
    background: #faf9f9;
    /*background: white;*/
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

p {
    font-family: sans-serif;
}

.center {
    text-align: center;
}

h1,
h2,
h3
 {
    /*text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #525151;
}

h4 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #525151;
}

a:focus{
	color: #fff!important;
	text-decoration: none!important;
}

.container{
	max-width: 1130px;
}


/*		Header 		*/

#logo_menu {
    width: 170px;
    height: 65px;
    background-image: url('../img/logo_menu.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    margin: 3px 50px 0 0;
}

header{
	position: relative;
	display: block;
	width: 100%;
	height: 70px;
	z-index: 99;
	background-color: #41c17d;
	/*background-image: -moz-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -o-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -webkit-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	*/
}


header .burger_icon{
	display: none;
	float: right;
	background: #ffffff;
	padding: 5px 10px;
	text-transform: uppercase;

	color: #43b779;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	margin: 20px 10px 0 0;
}

#menu {
    position: fixed;
    top: 0;
}

header .burger_icon:hover{
	cursor: pointer;
}

header .burger_icon.active{
	background: #359663;
	color: #ffffff;
}

header #navigace{
	margin-top: 17px;
	display: table-cell;
}

header #navigace li{
	float: left;
	margin-left: 20px;
}

header #navigace li:first-child{
	margin: 0;
}

header #navigace li a{
	display: block;
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	/*border: 1px solid red;*/
	padding: 8px 15px;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

header #navigace li a:hover,
header #navigace li a:focus{
	text-decoration: none;
	color: #41c17d!important;
	border-radius: 5px;
	background-color: white;
}


/* Slider */
#myCarousel {
    /*height: 600px;*/
    height: 60%;
    margin-top: 70px;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* end slider */


/*   split line	*/

.split_line{
	width: 100%;
	padding: 0;
	background: #41c17d;
	text-align: center;
	color: white;
	
}

.split_line h2 {
    color: white;
    font-family: "open_bold", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 46px;
    word-break: break-word;
}


/*		About section 		*/

.about{
	padding: 80px 0;
}

.about .row {
    margin: 40px 0;
}

.about .img_sklep {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 60px;
}

/*.about .img_sklep img {
    border: 2px solid #525151;
}*/

.about .right_column h1 {
    color: #525151;
    font-family: "open_bold", Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: bold;
    line-height: 46px;
    margin: 0 0 20px 0;
    word-break: break-word;
}

.about .right_column p {
    color: #767272;
    font-family: "open_regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    /*margin-bottom: 45px;*/
    line-height: 30px;
    text-align: justify;
}

.about .mapa {
    /*order: 1px solid red;*/
    margin: 30px auto 0 auto;
}

.about .img_templar {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

/*		section contact 		*/

#contact{
	width: 100%;
	padding: 50px 0;
    background-color: #41c17d;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

#contact h2, #contact h5 {
    color: white;
    font-weight: bold;
}

#contact .form-group textarea {
    height: 132px;
}

#contact button {
    background-color: white;
    color: #999999;
    font-weight: bold;
}

.content {
    padding: 20px 10px;
    margin-top: 75px;
    background-color: #faf9f9;

    color: #767272;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    font-weight: bold;
}

#footerMargin {
    width: 100%;
    height: 60px;
}

/*		Responsive CSS 		*/

@media (max-width: 360px) {
	
}

@media (max-width: 767px) {

	/*header #navigace li{
		display: block;
		width: 100%;
		margin: 0;
		text-align: center;

	}

	header #navigace li a{
		display: block;
		width: 100%;
		padding: 20px 0;
		border-bottom: 1px solid #389965;
        color: black;
	}*/

}

.clear {
    clear: both;
}
