
.content {
    color: #767272;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.top_text {
    margin-bottom: 20px;
}

.top_foto {
    /*width: 260px;*/
    /*height: 100px;*/
    /*border: 1px solid red;*/
}

.top_foto img {
    /*border: 2px solid #41c17d;*/
}


