
/*body { background: #F9FDF4;  }*/

/*table,th, td
{
 padding: 5px;
}*/

.form-group {
    margin-bottom: 10px;
}

thead tr:first-child
{
    
 background-color: gainsboro;
 padding-bottom: 15px;
}
td
{
    color:#faf9f9;
	font-weight: bold;
	border: 3px solid #faf9f9;
	text-align: center;
	border-radius: 10px;
	background-color: #41c17d;
	width: 60px;
	height: 30px;
    margin: 3px;
}

td.obsazeno {
	background-color: red;
	/*border: 1px solid red;*/
}

tr {
}

del
{
    display: none;
    text-decoration: none;
    color:green;
}

th {
    text-align: center;
}

th a 
{ 
    text-decoration: none;
    color: black; width: 100%; height: 100%; text-align: center;display: block;
}

#calendar {
 /* border: 1px solid red;*/
  /*width: 900px;
  height: 400px;*/
  padding: 10px;
}

#calendarColumn {
    margin-top: 20px;
}