{include file='inc/header.html'}

<div class="container content">

    <div class="row">

        <div class="col-lg-6">
            <div class="row center">
                <h3>Degustace (2 hod.)</h3>
            </div>
            <ul>
                <li><strong>Malá degustace</strong></li>
                <ul>
                    <li>8 vzorků</li>
                    <li>sýr nebo chleba se sádlem</li>
                    <li><strong>200 Kč</strong></li>
                </ul>
                <li><strong>Velká degustace</strong></li>
                <ul>
                    <li>10 vzorků</li>
                    <li>chleba a škvarková pomazánka</li>
                    <li><strong>250 Kč</strong></li>
                </ul>

                <li><strong>Pro turisty</strong></li>
                <ul>
                    <li>Posezení při pohárku: cena vína + <strong>30 Kč</strong></li>
                    <li>Posezení při pohárku s občerstvením: cena vína + <strong>50 Kč</strong></li>
                    <li>chleba ze sádlem, cibule apod.</li>
                </ul>
            </ul>

            <br />

            <div class="row center">
                <p>
                    (po degustaci si víno zákazník platí)
                </p>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="row center">
                <h3>Posezení ve sklípku (5 hod.)</h3>
            </div>

            <ul>
                <li><strong>Tradiční pohoštění + degustace</strong></li>
                <ul>
                    <li>
                        Celovečerní posezení ve vinném sklípku s degustací vín a neomezenou konzumací vína po celý večer.
                        Voda, káva, čaj a pohoštění
                    </li>
                    <li>Kuřecí řízky</li>
                    <li>Škvarková pomayánka</li>
                    <li>Pečivo</li>
                    <li><strong>Cena: 350 Kč</strong></li>
                </ul>
                <li><strong>Teplá večeře + degustace</strong></li>
                <ul>
                    <li>
                        Celovečerní posezení ve vinném sklípku s degustací vín a neomezenou konzumací vína po celý večer.
                        Voda, káva, čaj a pohoštění
                    </li>
                    <li>Teplá večeře s možností výběru</li>
                    <li>(Segedínský  guláš s cibulía  knedlíkem , NEBO  knedlo ,vepřo , zelo)</li>
                    <li>Škvarková pomazánka, chléb, okurek</li>
                    <li>domácí sladký závin</li>
                    <li><strong>Cena: 450 Kč</strong></li>
                </ul>

            </ul>

            <div class="row center">
                <p>
                    Celovečerní posezení ve vinném sklípku je nutné objednat předem.
                </p>
            </div>

        </div>

    </div>
</div>

<div id="footerMargin">
</div>

<div class="split_line footer">
    <div class="container">
        <h2 class="text-uppercase">Zárybnický sklípek Mutěnice</h2>
    </div>
</div>

{include file='inc/footer.html'}