
{include file='inc/header.html'}

<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('media/img/slider/3s.jpg');"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>

        <div class="item">
            <div class="fill" style="background-image:url('media/img/slider/5s.jpg');"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>

        <div class="item">
            <div class="fill" style="background-image:url('media/img/slider/2s.jpg');"></div>
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>

    </div>
</div>

<section class="split_line">
    <div class="container">
       <h2 class="text-uppercase">Zárybnický sklípek Mutěnice</h2>
    </div>
</section>


<section>
    <div class="container aktuality">

        <div class="row center">
            <h2>Aktuality</h2>
        </div>

        <div class="row ">

            <div class="col-lg-4 aktualita">
                <h4 class="center">Otevřené sklepy 2016</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Maecenas libero. Sed elit dui, pellentesque a, faucibus vel,
                    interdum nec, diam. Vivamus porttitor turpis ac leo.
                </p>
            </div>

            <div class="col-lg-4 aktualita">
                <h4 class="center">Letní otevřené sklepy</h4>
                <p>
                    zveme Vás k návštěvě našeho vinařství ve dnech 3.8. až 9.8.2015.
                    Otevřeno je od 17 do 20 hod v pondělí až čtvrtek po tel. domluvě
                    s vinařem. O víkendu: Pátek 17 až 20 hod. Sobota 17 až 20 hod. 
                </p>
            </div>

            <div class="col-lg-4 aktualita">
                <h4 class="center">Nové ceny ubytování</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Maecenas libero. Sed elit dui, pellentesque a, faucibus vel,

                </p>
            </div>

        </div>
    </div>
</section>




<!--  About Section  -->
<section class="about" id="about">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 text-center">
                <div class="img_sklep ">
                    <img src="media/img/sklep.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="right_column ">
                    <h1 class="text-uppercase">Zárybnický sklípek</h1>
                    <p>
                        Obec Mutěnice se nachází v jihovýchodním cípu Moravského Slovácka,
                        lokalita patří do vinařské oblasti "SLOVÁCKO". Mutěnice patří mezi
                        známé vinařské obce s dlouholetou tradicí. 
                    </p>
                    <p>
                        Součástí vinného sklepa je ubytovací zařízení, kde je posezení v
                        příjemném prostředí s možností "koštování" mutěnických vín nezapomenutelných
                        chutí, charakteristického pukétu a jiskry při dobrém "degustačním soustu".
                        Lokalita se nazývá "POD BÚDAMA" obklopena do svahu táhnoucími se vinohrady
                        místních vinohradníků. Pod nimi je soustředěno asi 500 vinných sklepů, po Slovácku "BÚDY". 
                    </p>
                    <p>
                        Tato část obce má vybudovanou velmi dobrou infrastrukturu s obchodem, restauracemi,
                        zastávkou ČD a sportovní areálem. Obec je napojena na vinařské cyklostezky
                        s výbornou dostupností k pamětihodnostem. 
                    </p>
                </div>
            </div>
        </div> <!-- row -->    
            
        <div class="row">    
            <div class="col-md-6">
                <div class="right_column ">
                    <h1 class="text-uppercase">O obci Mutěnice</h1>
                    <p>
                        Mutěnice leží ve zvlněné krajině jihovýchodní Moravy,
                        Moravského Slovácka, Dolňácka, v nadmořské výšce 170-265 m,
                        11 km od Hodonína. Území severně od Mutěnic, převážně jižně
                        orientované svahy, je proslulé rozsáhlými vinicemi. Rozlohou
                        katastru a plochou vysázených vinic patří Mutěnice k největším
                        obcím okresu Hodonín. Raritou Mutěnic je lokalita s téměř pěti
                        sty vinnými sklepy v části obce zvané "BŮDY". <strong>Zárybnický sklípek
                        je součástí tohoto prostoru, prostě je také "POD BŮDAMA"</strong>.

                    </p>
                </div>
            </div>
            
            <div class="col-md-6 text-center">
                <div class="mapa ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41959.32469071885!2d16.976808057020335!3d48.906669648711755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47132861edb899d1%3A0xbc02bf0678c13576!2zTXV0xJtuaWNl!5e0!3m2!1scs!2scz!4v1454522094662" width="450" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div> <!-- row -->        
            
        <div class="row">        
            <div class="col-md-6 text-center">
                <div class="img_templar">
                    <img src="media/img/templar.jpg" alt="" title="">
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="right_column">
                    <h1 class="text-uppercase">Něco z historie</h1>
                    <p>
                        Obec Mutěnice vznikla patrně vnější kolonizací,
                        na níž percipovali templáři jimž Mutěnice náležely ve
                        13. století společně s obcí Čejkovice. Koncem 15. a začátkem
                        16. století nastalo velké rozšiřování vinic. Vinice byly svobodným statkem.
                        Rostla a bohatla i obec. Největšího rozmachu dosáhlo
                        vinařství a obec Mutěnice počátkem 17 století. Po bitvě na
                        Bílé hoře následovaly boje, lid trpěl, obec chudla.
                    </p>
                    <p>
                        V Mutěnicích bylo v roce 1618 940 obyvatel v 94 stavení, po válce
                        roku 1648 zůstalo 150 obyvatel ve 24 domech. Hrabě Bedřich Oppersdorfu,
                        který byl v letech 1657-1667 hejtmanem kraje brněnského, největším
                        komorníkem zemským, se výrazně zasloužil na uspořádání základů právních
                        poměrů a vtiskl ráz, který trval až do roku 1848. Také zde krátce žil president TGM.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="about_video show_video">
        <a href="" class="close_video"></a>
    </div>
</section>
<!--  End About Section  -->






<!--  App Features Section  -->
<section class="contact" id="contact">
    <div class="container">
        <h2 class="text-uppercase text-center">Napište nám</h2>
        <h5 class="text-center">kontaktní formulář:</h5>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Vaše jméno *" id="name" required data-validation-required-message="Vložte jméno.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Váš email *" id="email" required data-validation-required-message="Vložte email.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Váš telefon *" id="phone" required data-validation-required-message="Vložte tel. číslo.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Vaše zpráva *" id="message" required data-validation-required-message="Vložte zprávu."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Odeslat zprávu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{include file='inc/footer.html'}