{include file='inc/header.html'}

<div class="container content">

    <div class="row">

        <div class="center">
            <h2>Kontakt</h2>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-3 col-lg-offset-1" id="kontaktColumn">
            <ul>
                <li><h3>Provozovatel:</h3></li>
                <li>Dana Dětinská</li>
                <li>Tel.: 518 370 188</li>
                <li>Mobil: +420 603 837 027</li>
                <li>E-mail: d.detinska@seznam.cz</li>
                <li><h3>Adresa:</h3></li>
                <li>Sklepní ev.č. 15</li>
                <li>696 11, Mutěnice</li>
            </ul>
        </div>

        <div class="col-sm-3 col-md-7 col-lg-7">

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d655.5527382973571!2d17.02907312926434!3d48.91137298011428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4713287939db110d%3A0x43a6c527d573ce8a!2sMut%C4%9Bnice+15%2C+696+11+Mut%C4%9Bnice!5e0!3m2!1scs!2scz!4v1454521073670" width="600" height="200" frameborder="0" id="googleMap" allowfullscreen></iframe>
            </div>

        </div>

    </div>
    
</div>

    <div class="row" id="kontaktBlok">
        <div class="col-lg-8 col-lg-offset-2">
            

                <div class="center">
                    <h1>NAPIŠTE NÁM</h1>
                    <h4>Kontaktní formulář</h4>
                </div>
    
                <div class="formErrors"></div>
                <div class="formSuccess"></div>
    
                <form name="sentMessage" id="contactForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Vaše jméno *" name="name">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Váš email *" name="email">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Váš telefon *" name="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Vaše zpráva *" name="message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-xl">Odeslat zprávu</button>
                        </div>
                    </div>
                </form>
            
        </div>
    </div>

<!--
<div id="footerMargin">
</div>

<div class="split_line footer">
    <div class="container">
        <h2 class="text-uppercase">Zárybnický sklípek Mutěnice</h2>
    </div>
</div>
    -->
{include file='inc/footer.html'}