{include file='inc/header.html'}

    <div class="container content">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="foto_moznosti_vyziti">
                    <img src="media/img/fotky/moznosti_vyziti_1.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rightColumnRow">
                    <h2>Možnosti vyžití</h2>

                    <p>Návštěva vinného sklepa, hovory o vínném moku a historii vinařství na Moravě.</p>
                    <p>Řízená degustace odrůdových vín.</p>
                    <p>laické přednášky o pěstování vinné révy, zpracování hroznů, ošetření moštů a školení tichých vín.</p>
                    <p>Slovácký folklór.</p>
                    <p>Turistika a sport.</p>
                    <p>Kultura a památky.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="foto_moznosti_vyziti">
                    <img src="media/img/fotky/moznosti_vyziti_2.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rightColumnRow">
                    <h2>Paměti hodnosti</h2>

                    <p>Zámek Milotice - 15 km směr Dubňany</p>
                    <p>
                        Valticko-ledický komplex - cca 25 km, směr Čejkovice a Velké Bílovice, zámek Lednice s minaretem a zozsáhlou zahradou
                        s botanickým skleníkem. Janův hrad-lovecký zámeček ve stylu středověkého hradu, Zámek Valtice.
                    </p>
                    <p>Templářské sklepy v  Čejkovicích, v provozu již od 13. století. Pozůstatek po Templářském řádu.</p>
                    <p>Zrekonstruhovaný větrný mlýn, nacházející se kousek od silnice vedoucí z Čejkovic do Starého Poddvorova.</p>

                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="split_line">
        <div class="container">
            <h3 class="text-uppercase">Zárybnický sklípek Mutěnice</h3>
        </div>
    </div>

{include file='inc/footer.html'}