{include file='inc/header.html'}

    <div class="container content">
        
        <div class="row top_text">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="top_text center">
                    <h1>Možnosti vyžití</h1>
                    <p>
                        Zárybnický sklípek se nachází ve vinařské obci Mutěnice, přímo v oblasti vinných sklepů znavých "Bůdy".
                        Je zde možnost návštěvy vinného sklepa s hovory o vinné révě, vinném moku a historii vinařství na Jižní Moravě.
                        V okolí Mutěnich se nachází spousta pamětihodností, které stojí za to prozkoumat. Rodiny s dětmi můžou navštívit
                        ZOO v nedalekém Hodoníně, moderní koupaliště nebo se plavit po řece Moravě. I pro sportovně založené turisty, zejména
                        cyklisty, je zde spousta možností. Přímo v Mutěnicích je možné si pronájmout moderní tenisový kurt, hřiště na basketbal,
                        nohejbal nebo volejbal.
                    </p>
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="top_foto">
                    <img src="media/img/fotky/moznosti_vyziti_1.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    
                    <h3>Putování za vínem</h3>    
                    
                    <p>
                        Návštěva vinného sklepa s přednáškou o pěstování vinné révy, zpracování hroznů u drobných vinařů,
                        ošetření moštů a školení tichých vín.
                        Možnost řízené degustace odrůdových vín za zvuků cimbálové hudby.
                        Přehlídka slováckého folklóru.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="top_foto">
                    <img src="media/img/fotky/moznosti_vyziti_2.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                        
                    <h3>Pamětihodnosti</h3>    
                        
                    <p>
                        Za návštěvu určitě stojí nedaleký zámek Milotice (15km). Dále pak, Valtické-lednický areál, kde se
                        nachází Lednický zámek s minaretem a rozsáhlou zahradou s botanickým skleníkem, Janův lovecký hrad ve
                        středověkém stylu nebo Zámek Valtice
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="top_foto">
                    <img src="media/img/fotky/moznosti_vyziti_3.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                        
                    <h3>Agroturistika</h3>    
                        
                    <p>
                        Aktivní účast při pěstování a ošetřování vinné révy s odborným vedením,
                        zpracování vinných hroznů, ošetřování vinných moštů,
                        práce s tichými víny a jejich školení. Vše v souladu s ročním obdobím. 
                    </p>   
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="top_foto">
                    <img src="media/img/fotky/moznosti_vyziti_4.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                        
                    <h3>Sport a relaxace</h3>        
                        
                    <p>
                        Velkým lákadlem pro cykloturisty jsou určitě vinné stezky po Moravském Slovácku. Tenisové kurty v Mutěnicách.
                        Fitcentrum poskytující saunu, masáže, solárium apod. Venkovní koupaliště v Dubňanech nebo Hodoníně.
                    </p>    
                </div>
            </div>
        </div>
    
        
        
        
        
        
        
        
        <!--<div class="row">
            <div class="col-lg-6 text-center">
                <div class="foto_moznosti_vyziti">
                    <img src="media/img/fotky/moznosti_vyziti_1.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rightColumnRow">
                    <h2>Možnosti vyžití</h2>

                    <p>Návštěva vinného sklepa, hovory o vínném moku a historii vinařství na Moravě.</p>
                    <p>Řízená degustace odrůdových vín.</p>
                    <p>laické přednášky o pěstování vinné révy, zpracování hroznů, ošetření moštů a školení tichých vín.</p>
                    <p>Slovácký folklór.</p>
                    <p>Turistika a sport.</p>
                    <p>Kultura a památky.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="foto_moznosti_vyziti">
                    <img src="media/img/fotky/moznosti_vyziti_2.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="rightColumnRow">
                    <h2>Paměti hodnosti</h2>

                    <p>Zámek Milotice - 15 km směr Dubňany</p>
                    <p>
                        Valticko-ledický komplex - cca 25 km, směr Čejkovice a Velké Bílovice, zámek Lednice s minaretem a zozsáhlou zahradou
                        s botanickým skleníkem. Janův hrad-lovecký zámeček ve stylu středověkého hradu, Zámek Valtice.
                    </p>
                    <p>Templářské sklepy v  Čejkovicích, v provozu již od 13. století. Pozůstatek po Templářském řádu.</p>
                    <p>Zrekonstruhovaný větrný mlýn, nacházející se kousek od silnice vedoucí z Čejkovic do Starého Poddvorova.</p>

                </div>
            </div>
        </div>-->
    </div>

    <div id="footerMargin">
    </div>

    <div class="split_line footer">
        <div class="container">
            <h2 class="text-uppercase">Zárybnický sklípek Mutěnice</h2>
        </div>
    </div>

{include file='inc/footer.html'}