{include file='inc/header.html'}

<div class="container content">

    <div class="row center">
        <h1>Rezervace ubytování</h1>
    </div>

    <div class="row center">
        <div class="col-lg-10 col-lg-offset-1">
           <p>
               <strong>Využijte náš rezervační formulář pro nezávaznou rezervaci ubytování.</strong>
           </p>
           <p>
               Rezervaci provádějte nejpozději týden před plánovaným příjezdem. Provozovatel ubytování
               Vás bude, po zpracování rezervace, kontaktovat a potvrdí Vám termín ubytování.
               Je možné provést rezervaci i na již obsazený termín (viz. kalendář) a v případě, že by se daný
               termín uvolnil, Vás bude provozovatel kontaktovat.
           </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-offset-1 col-lg-4">

            <form role="form" id="form">
                <div class="form-group">
                    <label for="jmeno">Jméno:</label>
                    <input type="text" name="jmeno" class="form-control" id="jmeno">
                </div>

                <div class="form-group">
                    <label for="prijmeni">Příjmení:</label>
                    <input type="text" name="prijmeni" class="form-control" id="prijmeni">
                </div>

                <div class="form-group">
                    <label for="tel">Telefon:</label>
                    <input type="text" name="tel" class="form-control" id="tel">
                </div>

                <div class="form-group">
                    <label for="mail">E-mail:</label>
                    <input type="text" name="mail" class="form-control" id="mail">
                </div>

                <div class="form-group">
                    <label for="pocetOsob">Počet osob:</label>
                    <input type="text" name="pocetOsob" class="form-control" id="pocetOsob">
                </div>

                <div class="form-group">
                    <label for="datumOd">Datum příjezdu:</label>
                    <input type="text" name="datumOd" class="form-control" id="datumOd">
                </div>

                <div class="form-group">
                    <label for="datumDo">Datum odjezdu:</label>
                    <input type="text" name="datumDo" class="form-control" id="datumDo">
                </div>

                <div class="form-group">
                    <label for="pokoj">Typ pokoje:</label>
                    <select name="typPokoje" class="form-control" id="pokoj">
                        <option value="1">Pokoj bez kuchyňky pro 2 osoby</option>
                        <option value="2">Apartmán s kuchyňkou pro 4 osoby</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-default">Odeslat</button>
            </form>
        </div>

            <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-offset-1 col-lg-5">

                <h4>Kalendář rezervace pro apartmán s kuchyňkou <br /> (4 osoby)</h4>
                <p>
                    {$kalendarApartman}
                </p>

                <br />
                <h4>Kalendář rezervace pro pokoj bez kuchyňky <br /> (2 osoby)</h4>
                <p>
                    {$kalendarMalyPokoj}
                </p>
            </div>

        </div>
    </div>

    <p>

    </p>

</div>

    <div id="footerMargin">
    </div>

    <div class="split_line footer">
        <div class="container">
            <h2 class="text-uppercase">Zárybnický sklípek Mutěnice</h2>
        </div>
    </div>

{include file='inc/footer.html'}
