{include file='inc/header.html'}

    <div class="container content">

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 center">
                <h1>Ubytování</h1>
            </div>
        </div>
    
        <div id="textRow1" class="row">
            
            <div class="col-lg-6">
                
                <p>
                    Zárybnický sklípek leží přímo v oblasti mutěnských vinných sklepů zvaných „Bůdy„.
                    Ubytování se nachází přímo nad sklípkem a součástí ubytovacího celku je i venkovní prostor s
                    možností grilování a společenského posezení pod pergolou. Ubytujete se, seběhnete schůdky
                    a můžete degustovat nad skleničkou dobrého vínka až do rána.
                </p>
                <p>
                    Naši hosté rádi využívají terasu s krbem a výhledem na vinohrad. Vaše auta můžete zaparkovat na parkovišti
                    a kola dát do úschovny pod zámek.
                </p>
                
            </div>
            
            <div class="col-lg-6">
                
                <p>
                    <strong>Možnosti Ubytování:</strong>
                </p>
                
                <p>   
                    <strong>4 lůžkový apartmán</strong> s možností přistýlky 2 lůžek. V apartmánu jsou k dispozici dva dvoulůžkové pokoje.
                    Každý pokoj má své sociální zařízení. Dále je k dispozici plně vybavená kuchyňka, televize,
                    rozkládací sedací souprava.
                </p>

                <p>
                    <strong>Samostatný dvoulůžkový pokoj</strong> s vlastním sociálním zařízením, televizí, ledničkou a varnou konvicí.
                </p>
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 center">
                <p>
                    Rezervaci ubytování je možné provést pomocí rezervačního formuláře v záložce rezervace nebo na telefonu  <br />
                    <strong>+420 603 837 027</strong>
                </p>
            </div>
        </div>

        <div class="row foto_panel">
            <div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/ubytovani_1.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/ubytovani_2.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/ubytovani_3.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/ubytovani_4.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/ubytovani_5.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/ubytovani_6.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/ubytovani_7.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/ubytovani_8.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div>
                    <h3>Ceny za ubytování:</h3>
                    <ul>
                        <li><strong>Apartmán:</strong></li>
                        <ul>
                            <li>dospělá osoba bez snídaně <strong>350,-Kč./osoba/noc</strong></li>
                            <li>pokoj pro jednu osobu <strong>350+150,-Kč./osoba/noc</strong></li>
                        </ul>
                        <li><strong>Samostatný pokoj:</strong></li>
                        <ul>
                            <li>dospělá osoba bez snídaně <strong>300,-Kč./osoba/noc</strong></li>
                            <li>pokoj pro jednu osobu <strong>300+150,-Kč./osoba/noc</strong></li>
                        </ul>
                        <li>děti 3-5 let <strong>250,-Kč./osoba/noc</strong></li>
                        <li>snídaně <strong>70,-Kč</strong></li>
                        <li>domácí mazlíčci <strong>100,-Kč</strong> za celkové ubytování</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <div>
                    <h3>Možnosti stravování:</h3>
                    <ul>
                        <li>v místní síti restauračních zařízení</li>
                        <li>cca 4 restaurace, kde se celodenně vaří</li>
                        <li>nejbližší restaurace je vzdálena necelých 400 m</li>
                        <li>možnost zajištění jídla provozovatelem</li>
                        <li>menu je k dispozici ve společenské místnosti</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="footerMargin">
</div>

<div class="split_line footer">
    <div class="container">
        <h2 class="text-uppercase">Zárybnický sklípek Mutěnice</h2>
    </div>
</div>



{include file='inc/footer.html'}