{include file='inc/header.html'}

    <div class="container content">
        
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 center">
                <h1>Vinohradnictví a vinařství</h1>
            </div>
        </div>
        
        <div class="row">
            <!--<div class="col-lg-6">
                <div id="vinarstvi_foto1">
                    <img src="media/img/fotky/vinar1.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                </div>
            </div>-->
            
            <div class="col-lg-6">
                
                <p id="textBlok1">
                    Jedná se o drobné vinohradnictví a vinařství manželů Dětinských,
                    výměra vlastních vinic 0,40ha se skladbou odrůd a odrůdových vín malých šarží.
                    Výroba vín spočívá v orientaci na maximální kvalitu hroznů již ve vinici.
                    Z takových plodů jsou vyráběna příjemně harmonická, chuťově bohatá vína s
                    odrůdovým charakterem. Pro dosahování kvality kombinujeme tradiční vinařské
                    postupy s moderní technologii  zpracování hroznů a výroby vína.    
                </p>
                
            </div>
            
            <div class="col-lg-6">
                <h4>Bílé odrůdy:</h4>
                <p>
                    NB - Neuburg, RV - Ryzlink vlašský, RR - Ryzlink Rýnský, CHA - Chardonnay,
                    RŠ - Rulanské šedé, VZ - Veltlín zelený, MAL - Malverina, HI - Hibernal, MI - Milia.
                </p>
                
                <h4>Modré odrůdy:</h4>
                <p>
                    MP - Modrý Portugal, SV - Svatovavřinecké, AN - André, ZW - Zweigeltrebe
                </p>
            </div>
        </div>
        
        <div class="row">
            <div>
                
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/vinarstvi_1.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/vinarstvi_2.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/vinarstvi_3.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="foto">
                        <img src="media/img/fotky/vinarstvi_4.jpg" class="img-responsive img-rounded" alt="zárybnický sklípek" title="zárybnický sklípek">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 center">
                <h3>Vinný sklep a posezení</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Klienti mají možnost využít služeb provozovatele , laické přednášky o vinné révě a víně, ochutnávku odrůdových vín, prohlídka vinných sklepů a degustace jednotlivých odrůd při konzumaci „degustačního sousta“ z nabídky nebo podle přání.
 Místnost k posezení a konzumaci je vybavena krbem ,kapacita do 16 osob ,lze uskutečnit společenské akce.
  Další součástí pro strávení příjemných chvil je posezení pod pergolou se zahradním krbem včetně udírny, jehož tajů  lze využít.
Ke komplexu přiléhá vinohrad, kde zkoumavý návštěvník může nahlédnout do tajů pěstování révy vinné a činnosti vinohradník.
  V neposlední řadě je k dispozici prodej odrůdových vín z produkce vinaře, hospodáře.    
                </p>  
            </div>
        </div>  
    </div>
    
    <div id="footerMargin"></div>
    
    <div class="split_line footer">
        <div class="container">
            <h2 class="text-uppercase">Zárybnický sklípek Mutěnice</h2>
        </div>
    </div>

{include file='inc/footer.html'}