
{block content}

<div class="container content">

    <div class="row">
        <div class="col-lg-5 col-lg-offset-3">
            <h2>Rezervace ubytování</h2>

            {control rezervaceForm}
        </div>
    </div>
</div>