
{block content}

<div class="container content">

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h2>Formulář pro vytvoření nové aktuality</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            {control aktualityForm}
        </div>
    </div>
</div>